pipeline-dataverse-ingestion.json
{
    "name": "pipeline-dataverse-ingestion",
    "properties": {
        "activities": [
            {
                "name": "Databricks Lookup",
                "type": "DatabricksNotebook",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "<path/to/notebook/dataverse_lookup>",
                    "baseParameters": {
                        "country": {
                            "value": "@pipeline().parameters.country",
                            "type": "Expression"
                        },
                        "topic": {
                            "value": "@pipeline().parameters.topic",
                            "type": "Expression"
                        },
                        "target_table_info_name": {
                            "value": "@pipeline().parameters.target_table_info_name",
                            "type": "Expression"
                        },
                        "max_age": {
                            "value": "@pipeline().parameters.max_age",
                            "type": "Expression"
                        },
                        "force_refresh_all": {
                            "value": "@pipeline().parameters.force_refresh_all",
                            "type": "Expression"
                        },
                        "select_topics": {
                            "value": "@{pipeline().parameters.select_topics}",
                            "type": "Expression"
                        },
                        "force_fail": {
                            "value": "@pipeline().parameters.force_fail",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "<your_databricks_linked_service>",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Download Tables from Dataverse",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Databricks Lookup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Databricks Lookup').output.runOutput.tables",
                        "type": "Expression"
                    },
                    "batchCount": 2,
                    "activities": [
                        {
                            "name": "Download Table from Dataverse",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [
                                {
                                    "name": "item",
                                    "value": "@item().table_name"
                                }
                            ],
                            "typeProperties": {
                                "source": {
                                    "type": "CommonDataServiceForAppsSource"
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "<your-input>",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "table": {
                                            "value": "@item().table_name",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "<your-output>",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "country": {
                                            "value": "@pipeline().parameters.country",
                                            "type": "Expression"
                                        },
                                        "topic": {
                                            "value": "@pipeline().parameters.topic",
                                            "type": "Expression"
                                        },
                                        "table_name": {
                                            "value": "@item().table_name",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Landing If found files",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Download Tables from Dataverse",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(length(activity('Databricks Lookup').output.runOutput.tables), 0)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Landing to Raw",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "<path/to/notebook/landing-to-raw-dataverse>",
                                "baseParameters": {
                                    "country": {
                                        "value": "@pipeline().parameters.country",
                                        "type": "Expression"
                                    },
                                    "topic": {
                                        "value": "@pipeline().parameters.topic",
                                        "type": "Expression"
                                    },
                                    "table_info_file": {
                                        "value": "@activity('Databricks Lookup').output.runOutput.table_info_name",
                                        "type": "Expression"
                                    },
                                    "n_threads": {
                                        "value": "@pipeline().parameters.landing_n_threads",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "<your-databricks-linked-service>",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "country": {
                "type": "string",
                "defaultValue": "it"
            },
            "topic": {
                "type": "string",
                "defaultValue": "dataverse"
            },
            "target_table_info_name": {
                "type": "string",
                "defaultValue": "table_info_dataverse.csv"
            },
            "max_age": {
                "type": "string",
                "defaultValue": "86400"
            },
            "force_refresh_all": {
                "type": "string",
                "defaultValue": "false"
            },
            "select_topics": {
                "type": "string"
            },
            "force_fail": {
                "type": "string",
                "defaultValue": "false"
            },
            "landing_n_threads": {
                "type": "string",
                "defaultValue": "3"
            }
        },
        "variables": {
            "_tmp": {
                "type": "String"
            }
        },
        "annotations": []
    }
}